append config

header.header
	nav#navbar.navbar
		.container.navbar-container


			//- .navbar-search
				.form-search
					a.link-suscribete(href="#")
						span.suscribete Suscríbete
					.content-input
						.content-search
							input.form-control.j-filtred(id="inp-search", type="text", placeholder="Buscar...")
							i.fa.fa-search
						.content-searching
							.searching#searching


			.navbar-menu
				.content-menu#content-menu-1
					ul.menu
						li.menu__item.d-lg-none
							a(href="#body")
								img.menu__link(onclick="clickMenu(e=this);", src=`${path_logo}`)
						li.menu__item
							a.menu__link(onclick="clickMenu(e=this);", href="#somos") Somos
						li.menu__item
							a.menu__link(onclick="clickMenu(e=this);", href="#coleccion") Colección
						li.menu__item.d-lg-none
							a.menu__link(onclick="clickMenu(e=this);", href="#premios") Premios
						li.menu__item.d-lg-none
							a.menu__link(onclick="clickMenu(e=this);", href="#suscribete") Suscribete
						li.menu__item.d-lg-none.not-border-right
							a.menu__link.position-relative(onclick="clickMenu(e=this);", href="https://www.instagram.com/")
								img.icon-ig(src="./assets/images/ig.png", alt="")
			.navbar-brand
				a(href="./")
					img.logo(src=`${path_logo}`)
			.navbar-menu
				.content-menu#content-menu-2
					ul.menu
						li.menu__item
							a.menu__link(href="#premios") Premios
						li.menu__item
							a.menu__link(href="#suscribete") Suscribete
						li.menu__item.not-border-right
							a.menu__link.position-relative(href="https://www.instagram.com/")
								img.icon-ig(src="./assets/images/ig.png", alt="")
						//- .navbar-location.d-lg-none
							ul.menu-location
								li.menu-location__item
									a.menu-location__link(href="../ica/index.html") Ica
								li.menu-location__item
									a.menu-location__link(href="../cajamarca/index.html") Cajamarca

			//- .navbar-location.d-none.d-lg-block
				ul.menu-location
					li.menu-location__item
						a.menu-location__link(href="../ica/index.html") Ica
					li.menu-location__item
						a.menu-location__link(href="../cajamarca/index.html") Cajamarca
		span.line-bar

	a#toggle-menu.toggle-menu(onclick="toggleMenu();")
		span.hamburger
	.scroll-content
		a.scroll-up(href="#body")
			i.fa.fa-up-open-big
